/* styles for comic body web view  */
.comicbody {
  display: none;
  height: 100vh; /* will be changed later, just to make the animation look good */
}
@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-15px);
  }
  60% {
    transform: translateY(0px);
  }
}
.frame {
  width: 100%;
  min-height: 100vh;
  position: relative;
  overflow: hidden;
}
.pageframe {
  width: 100%;
  height: 600px;
  position: relative;
  overflow: hidden;
}
.white {
  background-color: white;
}
.smoke {
  background-color: whitesmoke;
}
.frameimg {
  position: absolute;
}

.frameimgcontent {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.skyimg {
  width: 100%;
  height: auto;
}

.upbutton,
.downbutton {
  cursor: pointer;
  z-index: 10;
  position: absolute;
  background-color: transparent;
  border: 0px;
  -webkit-animation-name: bounce;
  animation-name: bounce;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-iteration-count: infinite;
}

.upbutton {
  left: 2em;
  top: 2em;
}

.downbutton {
  right: 2em;
  bottom: 2em;
  animation-delay: 200ms;
}
.textwrapper {
  width: 100%;
  height: 100%;
  font-size: 1.3em;
}
button > svg {
  height: 3em;
  width: auto;
}

.finaltext {
  position: absolute;
  top: 20%;
  left: 32%;
  width: 12em;
}

.textbutton{
  position: absolute;
  top: 40%;
  left: 32%;
}

/* styles for flipbook  */
.comicbodyflipbook {
  width: 100%;
  height: 100vh;
  display: none;
  background-color: gray;
  overflow: hidden;
}

.flipbook-viewport {
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.flipbook-viewport .container {
  position: absolute;
  top: 45%;
  left: 50%;
  margin: auto;
}
.page-wrapper {
  height: 600px !important;
  width: 600px !important;
}
.flipbook-viewport .flipbook {
  width: 1200px !important;
  height: 600px !important;
  left: -600px;
  top: -300px;
}

.flipbook-viewport .page {
  width: 600px !important;
  height: 600px !important;
  background-color: white;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.flipbook .page {
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.flipbook-viewport .page img {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin: 0;
}

.flipbook-viewport .shadow {
  transition: box-shadow 0.5s;
  -webkit-transition: -webkit-box-shadow 0.5s;
  -moz-transition: -moz-box-shadow 0.5s;
  -o-transition: -webkit-box-shadow 0.5s;
  -ms-transition: -ms-box-shadow 0.5s;

  -webkit-box-shadow: 0 0 20px #ccc;
  -moz-box-shadow: 0 0 20px #ccc;
  -o-box-shadow: 0 0 20px #ccc;
  -ms-box-shadow: 0 0 20px #ccc;
  box-shadow: 0 0 20px #ccc;
}

.flipbook-viewport .double {
  width: 1200px;
  height: 600px;
  background-size: 100% 100%;
}

/* css for interactive div  */

.intDiv {
  display: flex;
  align-items: center;
}
#divwrapper,
#divwrapper2 {
  width: 1200px;
  height: 600px;
  background: url("../images/play/bg.JPG") no-repeat center;
  background-size: cover;
  border-radius: 7px;
  margin: 0 auto;
}

#divcontainer,
#divcontainer2 {
  width: 1200px;
  height: 600px;
  background: url("../images/play/cannon.PNG") no-repeat;
  background-size: 700px;
  background-position: 0% 90%;
  border-radius: 7px;
  touch-action: none;
}

#bullett,
#bullett2 {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  transform: translate3d(100px, 100px, 0);
  touch-action: none;
  user-select: none;
  background: radial-gradient(
    circle at 65% 15%,
    white 1px,
    rgb(173, 185, 185) 3%,
    rgb(10, 10, 43) 60%,
    rgb(73, 73, 73) 100%
  );
}

#bullett:active,
#bullett2:active {
  background-color: rgba(168, 218, 220, 1);
}

#bullett:hover,
#bullett2:hover {
  cursor: pointer;
  background-color: rgba(168, 218, 220, 1);
}

#burn img,
#burn2 img {
  width: 1200px;
  display: none;
}

.showimg img {
  height: 640px;
}
