/* styles for comic body web view  */
.comicbody {
  display: none;
  height: 100vh; /* will be changed later, just to make the animation look good */
}
.frame {
  width: 100%;
  min-height: 100vh;
  position: relative;
  overflow: hidden;
}
.white {
  background-color: white;
}
.smoke {
  background-color: whitesmoke;
}
.frameimg {
  position: absolute;
}

.frameimgcontent {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.skyimg {
  width: 100vw;
  height: auto;
}
