/* styles for comic body web view  */
.comicbody {
  display: none;
  height: 100vh; /* will be changed later, just to make the animation look good */
}
.frame {
  width: 100%;
  min-height: 100vh;
  position: relative;
  overflow: hidden;
}
.white {
  background-color: white;
}
.smoke {
  background-color: whitesmoke;
}
.frameimg {
  position: absolute;
}

.frameimgcontent {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.skyimg {
  width: 100%;
  height: auto;
}


/* styles for flipbook  */
.comicbodyflipbook {
  width: 100%;
  height: 100vh;
  display: none;
  background-color: blue;
  overflow: hidden;
}

.flipbook-viewport {
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.flipbook-viewport .container {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: auto;
}
.page-wrapper {
  height: 600px !important;
  width: 600px !important;
}
.flipbook-viewport .flipbook {
  width: 1200px !important;
  height: 600px !important;
  left: -600px;
  top: -300px;
}

.flipbook-viewport .page {
  width: 600px !important;
  height: 600px !important;
  background-color: white;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.flipbook .page {
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.flipbook-viewport .page img {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  margin: 0;
}

.flipbook-viewport .shadow {
  -webkit-transition: -webkit-box-shadow 0.5s;
  -moz-transition: -moz-box-shadow 0.5s;
  -o-transition: -webkit-box-shadow 0.5s;
  -ms-transition: -ms-box-shadow 0.5s;

  -webkit-box-shadow: 0 0 20px #ccc;
  -moz-box-shadow: 0 0 20px #ccc;
  -o-box-shadow: 0 0 20px #ccc;
  -ms-box-shadow: 0 0 20px #ccc;
  box-shadow: 0 0 20px #ccc;
}

.flipbook-viewport .double {
  width: 1200px;
  height: 600px;
  background-size: 100% 100%;
}
