* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}
.initialLoadScreen {
  background-color: rgb(46, 46, 46);
  width: 100%;
  height: 100vh;
  color: rgb(214, 213, 213);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.initialLoadScreen2 {
  background-color: rgb(46, 46, 46);
  width: 100%;
  height: 100vh;
  display: none;
  font-family: monospace;
  font-weight: 700;
  font-size: 50px;
  padding: 50px;
  line-height: 85px;
  color: #ffffff;
}

.initialLoadScreen3 {
  /* background-color: rgb(46, 46, 46); */
  width: 100%;
  height: 100%;
  color: rgb(0, 0, 0);
  font-family: monospace;
  font-weight: 700;
  font-size: 34px;
  padding: 30px;
  line-height: 45px;
}

/* css for typing effect  */
.type {
  color: #0000;
  background: linear-gradient(-90deg, #00dffc 5px, #0000 0) 10px 0,
    linear-gradient(#00dffc 0 0) 0 0;
  background-size: calc(var(--n) * 1ch) 200%;
  -webkit-background-clip: padding-box, text;
  background-clip: padding-box, text;
  background-repeat: no-repeat;
  animation: b 0.7s infinite steps(1),
    t calc(var(--n) * 0.1s) steps(var(--n)) forwards;
}

@keyframes t {
  from {
    background-size: 0 200%;
  }
}
@keyframes b {
  50% {
    background-position: 0 -100%, 0 0;
  }
}

.initialLoadScreen p {
  font-size: 40px;
  margin-top: 20px;
}
.pulsate-css {
  animation: pulsateit 0.9s ease-out;
  animation-iteration-count: infinite;
  opacity: 0;
  border: 10px solid rgb(207, 207, 207);
  border-radius: 50%;
  height: 50px;
  width: 50px;
  margin-right: 12px;
  position: relative;
  display: inline-block;
  text-align: center;
}
@keyframes pulsateit {
  0% {
    -webkit-transform: scale(0.1, 0.1);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1.2, 1.2);
    opacity: 0;
  }
}
@-webkit-keyframes pulsateit {
  0% {
    -webkit-transform: scale(0.1, 0.1);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1.2, 1.2);
    opacity: 0;
  }
}

/* css for hover effect in the welcome screen button  */
.welcomeScreen {
  display: none;
  width: 100%;
  height: 100vh;
  background: url("../images/welcome.png") no-repeat center fixed;
  background-size: cover;
  transition: all 0.6s linear;
  overflow: hidden;
}
.welcometitle img {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
}
/* for button group on welcome screen  */
.buttons {
  display: flex;
  position: relative;
  top: 80%;
  justify-content: center;
  gap: 150px;
}
/* button on the welcome screen  */
.welcomeButton {
  border: 2px solid black;
  cursor: pointer;
  padding: 6px 14px;
  position: relative;
}

/* for hover effect on the button on the welcome screen  */
.welcomeHover {
  width: 102%;
  height: 110%;
  background-color: black;
  position: absolute;
  top: -1px;
  left: -1px;
  transform: scaleX(0);
  transform-origin: right center;
  transition: transform 0.5s;
}
.welcomeButton:hover .welcomeHover {
  transform: scaleX(1);
  transform-origin: left center;
  color: white;
}
.welcomeButton:hover .welcomeText {
  color: white;
}

/* text styling for button on the welcome screen  */
.welcomeText {
  font-size: 16px;
  color: black;
  text-transform: uppercase;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  font-weight: 600;
  letter-spacing: 1px;
  transition: color 0.2s;
  position: relative;
}

/* animation  */

.a-pulse {
  opacity: 1 !important;
  visibility: visible !important;
  -webkit-animation: pulsex infinite linear 1.5s alternate;
  animation: pulsex infinite linear 1.5s alternate;
}
@-webkit-keyframes pulsex {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.04);
  }
}
@keyframes pulsex {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.04);
  }
}

/* css for body - flip book */
